# Dependencies
node_modules/



# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test coverage
coverage/

# Temporary files
*.tmp
.cache/

# Public folder - ignore everything except loader.js
public/*
!public/loader.js
